<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ blogTitle }}</title>
  <meta name="description" content="{{ description }}">
  <link href="https://fonts.googleapis.com/css?family=Playball|Bellefair|Alegreya:400,400i,700,700i|Playfair+Display:400,700&amp;subset=latin-ext" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet"/>
</head>
<body>
<div id="page">
  {{> header }}
  {{> @partial-block }}
  {{> footer }}
</div>
  <!-- <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"
  ></script> -->
</body>
</html>
