<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{ blogTitle }}</title>
  <meta name="description" content="{{ description }}">
  <link href="styles/main.css" rel="stylesheet"/>
</head>
<body>
<div id="page">
  {{> header }}
  {{> nav }}
  {{> @partial-block }}
  {{> footer }}
</div>
  <!-- <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"
  ></script> -->
</body>
</html>
