nav {
  padding: $base-spacing 0;
  margin-bottom: $base-spacing;
  text-transform: uppercase;

  border-bottom: 1px solid $white;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline;
      padding: 0 1em;
    }
  }
}
