main {
  .post-image {
    margin-top: $base-spacing;
    img {
     width: 100%;
   }
  }

  .post-subtitle {
    text-transform: uppercase;
    font-size: modular-scale(0);
  }

  .post-title {
    font-size: modular-scale(4);
  }
}

article {
  p.image-block {
    text-align: center;

    img {
      width: 100%;
    }
  }
}
