// Layout defaults
$base-spacing: modular-scale(-1);

// Colors
$black: hsl(0, 0%, 8%);
$white: hsl(40, 5%, 90%);
$gold: hsl(40, 91%, 54%);
$pale-horse: hsl(40, 18%, 73%);
$vintage-black: hsl(0, 0%, 23%);

// Fonts
$header-font: 'Playfair Display', 'Georgia', serif;
$body-font: 'Alegreya', 'Times New Roman', serif;
