{{#>page}}
{{#>content}}
<main>
  <header>
    <h2>{{title}}</h2>
  </header>
  <article>
    {{{contents}}}
    <div class="posts-by-date">
      <header>
        <h3>By Date</h3>
      </header>
      <ul>
        {{#sortList collections.posts 'frontMatter.date' reverse=true}}
        {{#each .}}
        <li><a href="{{postUrl slug}}">{{formatDate frontMatter.date}} - {{frontMatter.title}}</a></li>
        {{/each}}
        {{/sortList}}
      </ul>
    </div>
    <div class="posts-by-name">
      <header>
        <h3>By Restaurant Name</h3>
      </header>
      <ul>
        {{#sortList collections.posts 'frontMatter.restaurant'}}
        {{#each .}}
        <li><a href="{{postUrl slug}}">{{frontMatter.restaurant}}: {{frontMatter.title}}</a></li>
        {{/each}}
        {{/sortList}}
      </ul>
    </div>
  </article>
</main>
{{/content}}
{{/page}}
